@import './header.css';
@import 'screen-inside.css';
@import 'screen-pokemon-detail.css';
@import 'controls-actions.css';
@import 'chart-content.css';
@import 'pokemon-description.css';
@import 'controls-drawing.css';
@import 'loader.css';

:root {
  --dark-red: #dc0a2d;
  --dark-blue: #163355;
  --just-white: #fff;
  --darkness: #300f16;
  --screenInside: #8db9dc;
}

.wrapper {
  max-inline-size: 1000px;
  margin: 0 auto;
}
.main {
  min-block-size: 100vh;
}
body {
  background-color: #4ba3da;
  margin: 0;
  font-family: system-ui;
}

.main-content {
  padding-inline: 0.75rem;
  padding-block: 0.75rem;
}
.pokedexContainer {
  inline-size: 100%;
  /* block-size: 200px; */
}

/* Pokedex Content all sections */
.pokedexContent {
  position: relative;
  inline-size: 100%;
  max-inline-size: 24rem;
  /* block-size: 17.5rem; */
  block-size: 23rem;
  max-block-size: 34.375rem;
  perspective: 1400px;
}

/* Pokedex Screen content two faces back and front */
.pokedexContent-screen {
  inline-size: 100%;
  block-size: 100%;
  transform-style: preserve-3d;
  transform-origin: bottom center;
  transition: transform 0.7s ease-in;
}
.pokedexContent-screen > *,
.pokedexContent-inside {
  inline-size: 100%;
  block-size: 100%;
  backface-visibility: hidden;
  position: absolute;
}
.pokedexContent-screen.is-active {
  transform: rotateX(-180deg);
}
.front-screen {
  background-color: var(--dark-red);
  backface-visibility: visible;
}
.back-screen {
  background-color: var(--dark-red);
  /* box-shadow: inset 36px 0px 0px -30px #ba111f; */
  box-shadow: inset 0px 12px 0px -7px #ba111f;
  transform: rotateX(-180deg);
  padding-inline: 1.5rem;
  padding-block: 1.5rem;
  box-sizing: border-box;
}
.pokedexContent-screen {
  background-color: var(--dark-red);
}

@media screen and (min-width: 1024px) {
  .main-content {
    padding-block-start: 100px;
  }
  .pokedexContent-screen.is-active {
    transform: rotateY(180deg);
  }
  .back-screen {
    transform: rotateY(180deg);
  }
  .pokedexContent-screen {
    transform-origin: right center;
  }
  .pokedexContent {
    inline-size: 24em;
    block-size: 34.375rem;
    background-color: blue;
  }
  .pokedexControls {
    margin: 0;
    display: flex;
  }
  .buttons-controls {
    display: grid;
    gap: 0;
    margin: 0;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(3, 30px);
  }
  .buttons-controls button {
    border-radius: 0;
    padding: 0;
    /* position: relative; */
    /* z-index: 100000; */
  }
  .buttons-controls button:nth-child(1),
  .buttons-controls button:nth-child(3) {
    display: block;
  }
  .buttons-controls button:nth-child(1) {
    box-shadow: 3px 0px 0px 0px #000000;
  }
  .buttons-controls button:nth-child(2) {
    box-shadow: 3px 2px 0px 0px #000000;
  }
  .buttons-controls button:nth-child(3) {
    box-shadow: 2px 1px 0px 1px #000000;
  }
  .buttons-controls button:nth-child(4) {
    box-shadow: 2px 2px 0px 0px #000000;
  }
  .pokedexDetail {
    display: block;
  }
  .controls-second {
    display: flex;
  }
  .back-screen {
    box-shadow: inset 36px 0px 0px -30px #ba111f;
    /* box-shadow: inset 0px 12px 0px -7px #ba111f; */
  }
}

img {
  max-inline-size: 100%;
}
.pokemon img {
  inline-size: 8.75rem;
  block-size: 8.75rem;
}
.pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 100%;
}
.loader {
  position: absolute;
  inline-size: 100%;
  top: 0;
  block-size: 100%;
  object-fit: cover;
}

.is-shakeAnimation {
  animation: shakeAnimation 0.4s 1 linear;
}

@keyframes shakeAnimation {
  0% {
    transform: translate(30px);
  }
  20% {
    transform: translate(-30px);
  }
  40% {
    transform: translate(15px);
  }
  60% {
    transform: translate(-15px);
  }
  80% {
    transform: translate(8px);
  }
  100% {
    transform: translate(0px);
  }
}
